.peek {
    grid-column: 2 / -1;
    background-color: #f2f2f2;
    width: max-content;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.peek td {
    align-items: center;
    text-align: center;
}
.peek input,
.peek select {
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
}
.peek input[type="text"] {
    color: #000;
}
.peek textarea {
    align-items: center;
    height: 48px;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
}

.check_btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.check_btn:hover {
    background-color: #3e8e41;
}

.check_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
    transition: transform 0.3s;
}

.del_hide {
    display: none;
}

.del_show {
    display: block;
}

.w30 {
    width: 50px;
}

.w100 {
    width: 120px;
}
.w150 {
    width: 180px;
}
