.peek {
    grid-column: 2 / -1;
    background-color: #f2f2f2;
    width: max-content;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.peek td {
    align-items: center;
    text-align: center;
}
.peek input {
    align-items: center;
    text-align: center;
}

.del_hide {
    display: none;
}

.del_show {
    display: block;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.w30 {
    width: 30px;
}

.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
