{% extends "ort_base.html" %}

{% block header %}
<h1>{% block title %}领用{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkouts.css') }}">
<div class="peek">
    <h3>领用信息</h3>
    <a href="{{ url_for('.import_checkouts') }}" class="btn btn-primary btn-pill btn-sm" title="从Excel文件中导入数据">导入</a>
    <a href="{{ url_for('.export_checkouts') }}" class="btn btn-primary btn-pill btn-sm" title="导出到Excel文件">导出</a>
    <a href="{{ url_for('.edit_checkouts') }}" class="btn btn-primary btn-pill btn-sm" title="编辑">编辑</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <table id="checkouts_table" name="checkouts_peek" , title="领用信息">
        <thead>
            <tr>
                <td>NO.</td>
                <td>领用日期</td>
                <td>领用单号</td>
                <td>机种名称</td>
                <td>数量</td>
                <td>测试项目</td>
                <td>序列号</td>
                <td>周期</td>
                <td>版本</td>
                <td>工令</td>
                <td>备注</td>
            </tr>
        </thead>
        <tbody>
            {% if not checkoutsPeek %}
            {% else %}
            {% for checkout in checkoutsPeek %}
            <tr>
                <td ><input type="text" name="checkout_id" class="w30" value="{{ checkout['id'] }}" readonly></td>
                <td><input type="date" name="checkout_date" class="w100" value="{{ checkout['checkout_date'] }}" readonly>
                </td>
                <td><input type="text" name="checkout_no" class="w100" value="{{ checkout['checkout_no'] }}" readonly>
                </td>
                <td><input type="text" name="PartNo" class="w100" value="{{ checkout['Partno'] }}" readonly></td>
                <td><input type="number" name="checkout_qty" class="w30" value="{{ checkout['checkout_qty'] }}" readonly>
                </td>
                <td><input type="text"  name="TestItem" class="w100" value="{{ checkout['TestItem'] }}" readonly>
                </td>
                <td><textarea name="SN" class="w150" readonly>{{ checkout['SN'] }}</textarea></td>
                <td><input type="week" name="DC" value="{{ checkout['DC'] }}" readonly></td>
                <td><input type="text" name="REV" class="w30" value="{{ checkout['REV'] }}" readonly></td>
                <td><input type="text" name="Work_Order" class="w150" value="{{ checkout['Work_Order'] }}" readonly>
                </td>
                <td><textarea name="Remarks">{{ checkout['Remarks'] }}</textarea></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<script>
</script>
{% endblock content %}