{% extends "ortplans/ort_base.html" %}

{% block header %}{% load static %}<h1>{% block title %}领用{% endblock title %}</h1>{% endblock header %}

{% block content %}
<style>
    #checkouts-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        min-width: 120px;
        z-index: 1;
    }
</style>
<!-- <link rel="stylesheet" href="{% static 'css/checkouts.css' %}" /> -->
<div class="peek">
    <h3>领用信息</h3>
    {% if not checkouts_edit_btns %}
    <form method="post" action="{% url 'import_checkouts' %}" enctype="multipart/form-data" id="uploadForm">
        <div class="input-group mb-3 w-50">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit" id="uploadBtn">导入</button>
            </div>
            <a href="{% url 'export_checkouts' %}" class="btn btn-outline-primary" title="导出到Excel文件">导出</a>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="fileInput">
                <label class="custom-file-label" for="fileInput">选择文件</label>
            </div>
        </div>
    </form>
    <!-- <a href="{% url 'edit_checkouts' %}" class="btn btn-outline-secondary" title="编辑">编辑</a> -->
    {% endif %}
    <form method="post" action="{% url 'edit_checkouts' %}">
        {% block checkouts_edit_btns %} {% endblock checkouts_edit_btns %}
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-sm" id="checkouts_table" name="checkouts_peek">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th> <span>NO.</span> </th> -->
                        <th> <span>领用单号</span> </th>
                        <th> <span>领用日期</span> </th>
                        <th> <span>机种名称</span> </th>
                        <th> <span>数量</span> </th>
                        <th> <span>测试项目</span> </th>
                        <th> <span>序列号</span> </th>
                        <th> <span>周期</span> </th>
                        <th> <span>版本</span> </th>
                        <th> <span>工令</span> </th>
                        <th> <span>备注</span> </th>
                    </tr>
                </thead>

                <tbody>
                    {% for checkout in all_checkouts %}
                    <tr data-checkout-id="{{ checkout.id }}">
                        {% block checkouts_edit_checkbox_input %} {% endblock checkouts_edit_checkbox_input %}
                        <!-- <td> {{ checkout.id }} </td> -->
                        <td> {{ checkout.checkout_no }} </td>
                        <td> {{ checkout.checkout_date }} </td>
                        <td> {{ checkout.PartNo }} </td>
                        <td> {{ checkout.checkout_qty }} </td>
                        <td> {{ checkout.TestItem }} </td>
                        <td> {{ checkout.SN }} </td>
                        <td> {{ checkout.DC }} </td>
                        <td> {{ checkout.REV }} </td>
                        <td> {{ checkout.Work_Order }} </td>
                        <td> {{ checkout.Remarks }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% block checkouts_edit_script %} {% endblock checkouts_edit_script %}
<div class="list-group" id="checkouts-menu">
    <a class="list-group-item list-group-item-action" href="{% url 'add_checkouts' %}">添加</a>
    <a class="list-group-item list-group-item-action" href="{% url 'edit_checkouts' %}">编辑</a>
    <a class="list-group-item list-group-item-action" href="{% url 'delete_checkouts' %}">删除</a>
</div>

<script>
    $(document).on("contextmenu", "#checkouts_table tbody tr", function (event) {
        event.preventDefault();

        // 获取当前行的ID
        var checkoutId = $(this).data('checkout-id');
        console.log(checkoutId);

        // 设置右键菜单项的链接
        $("#checkouts-menu a").each(function () {
            var href = $(this).attr("href");
            if (!href) return;
            href = href.split("?")[0]
            var updatedHref = href.includes("?") ? href : href + "?checkout_id=" + checkoutId;
            $(this).attr("href", updatedHref);
        });

        // 在鼠标点击的位置显示自定义右键菜单
        $("#checkouts-menu").css({
            top: event.clientY,
            left: event.clientX
        }).show();
    });

    $(document).on("click", function () {
        // 隐藏自定义右键菜单
        $("#checkouts-menu").hide();
    });

</script>
{% endblock content %}