{% extends "ortplans/ort_base.html" %} {% block header %} {% load static %}
<h1>{% block title %}领用{% endblock title %}</h1>
{% endblock header %} {% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/checkouts.css' %}" /> -->
<div class="peek">
    <h3>领用信息</h3>
    {% if messages %}
    <div class="flashes alert alert-success alert-dismissible fade show" role="alert" id="flashes">
        <button type="button" class="close" style="position: absolute; top: calc(50% - 24px)" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% for message in messages %} {{ message }}<br />
        {% endfor %}
    </div>
    {% endif %} {% if not checkouts_edit_btns %}
    <form method="post" action="{% url 'import_checkouts' %}" enctype="multipart/form-data" id="uploadForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit" id="uploadBtn">导入</button>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="fileInput">
                <label class="custom-file-label" for="fileInput">选择文件</label>
            </div>
        </div>
    </form>
    <a href="{% url 'export_checkouts' %}" class="btn btn-primary btn-pill btn-sm" title="导出到Excel文件">导出</a>
    {% endif %}
    <form method="post" action="{% url 'edit_checkouts' %}">
        {% block checkouts_edit_btns %}
        <a href="{% url 'edit_checkouts' %}" class="btn btn-primary btn-pill btn-sm" title="编辑">编辑</a>
        {% endblock checkouts_edit_btns %}
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered table-sm" id="checkouts_table" name="checkouts_peek" title="领用信息">
                <thead class="thead-dark">
                    <tr>
                        <th> <span>NO.</span> </th>
                        <th> <span>领用日期</span> </th>
                        <th> <span>领用单号</span> </th>
                        <th> <span>机种名称</span> </th>
                        <th> <span>数量</span> </th>
                        <th> <span>测试项目</span> </th>
                        <th> <span>序列号</span> </th>
                        <th> <span>周期</span> </th>
                        <th> <span>版本</span> </th>
                        <th> <span>工令</span> </th>
                        <th> <span>备注</span> </th>
                    </tr>
                </thead>

                <tbody>
                    {% for checkout in all_checkouts %}
                    <tr>
                        {% block checkouts_edit_checkbox_input %} {% endblock checkouts_edit_checkbox_input %}
                        <td> {{ checkout.id }} </td>
                        <td> {{ checkout.checkout_date }} </td>
                        <td> {{ checkout.checkout_no }} </td>
                        <td> {{ checkout.PartNo }} </td>
                        <td> {{ checkout.checkout_qty }} </td>
                        <td> {{ checkout.TestItem }} </td>
                        <td> {{ checkout.SN }} </td>
                        <td> {{ checkout.DC }} </td>
                        <td> {{ checkout.REV }} </td>
                        <td> {{ checkout.Work_Order }} </td>
                        <td> {{ checkout.Remarks }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% block checkouts_edit_script %} {% endblock checkouts_edit_script %}
<script>
    function handleFileSelect() {
        var fileInput = document.getElementById('fileInput');
        fileInput.click();
        while (!fileInput.value) {
            continue;
        }
        return true;
    }
    function sortTable(n) {
        var table = document.getElementById('checkouts_table'),
            rows,
            switching = true,
            i,
            x,
            y,
            shouldSwitch,
            dir = 'asc',
            switchcount = 0;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < rows.length - 1; i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName('TD')[n].getElementsByTagName('input')[0].value;
                y = rows[i + 1].getElementsByTagName('TD')[n].getElementsByTagName('input')[0].value;

                var x_v = parseInt(x, 10);
                var x_type = rows[i].getElementsByTagName('TD')[n].getElementsByTagName('input')[0].type;
                var y_v = parseInt(y, 10);

                if (isNaN(x_v) || x_type == 'date') {
                    if (dir == 'asc') {
                        if (x.toLowerCase() > y.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == 'desc') {
                        if (x.toLowerCase() < y.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else {
                    if (dir == 'asc') {
                        if (x_v > y_v) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == 'desc') {
                        if (x_v < y_v) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == 'asc') {
                    dir = 'desc';
                    switching = true;
                }
            }
        }

        // 更新箭头的显示样式
        $('.arrUp').on('click', function () {
            $(this).css('border-bottom-color', '#b2b2b2');
            $('.arrDown').css('border-top-color', '#ccc');
        });
        $('.arrDown').on('click', function () {
            $(this).css('border-top-color', '#b2b2b2');
            $('.arrUp').css('border-bottom-color', '#ccc');
        });
    }
</script>
{% endblock content %}